<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/TPINT_GRUPO_8_LAB5?createDatabaseIfNotExist=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="log4j.logger.org.hibernate.type">trace</property>
        <property name="hibernate.format_sql">true</property>
        
        <mapping class="entidad.Medico"/>
        <mapping class="entidad.Especialidad"/>
        <mapping class="entidad.Paciente"/>
        <mapping class="entidad.Turno"/>
        <mapping class="entidad.Usuario"/>
        <mapping class="entidad.Jornada"/>
        <mapping class="entidad.Provincia"/>
        <mapping class="entidad.Localidad"/>
    </session-factory>
</hibernate-configuration>
